{% extends "index/index.html" %}
{% block content %}
    <table>
        <td>
            <li>{{ user.phone }}</li>
        </td>
        <td>
            <li><a href="{% url "core:update_profile" user.pk %}">Change</a></li>
        </td>
    </table>
    <br>
    {% if qr_codes %}
        <table>
            <tr>My QR-Codes</tr>
            {% for qr_code in qr_codes %}
                <tr>
                    <td>
                        <li><a href="{% url "core:qr_code_view" qr_code.hash %}">
                            {% if qr_code.title %}
                                {{ qr_code.title }}
                            {% else %}
                                {{ qr_code.hash }}
                            {% endif %}
                        </a></li>
                    </td>
                    <td>
                        <li><a href="{% url "core:update_qr_code" qr_code.hash %}">Update</a></li>
                    </td>
                </tr>

            {% endfor %}
        </table>
    {% endif %}
{% endblock content %}