{% extends "index/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post" style="width: 25em; align-content: center; margin: auto;">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <!>
        <!>
        <!- ADD TIMER FOR SENDING AN SMS ->
        <!>
        <!>
        <button><a href="{% url "core:send_verification_sms" %}">Send Verification code</a></button>
        <br><br>
        <button type="submit">Register</button>
    </form>
{% endblock content %}